@model mcl959mvc.Models.Roster
@{
    ViewData["Title"] = "Roster";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.HasClaim("isAdmin", "true");
}

<h4>Edit Roster Member</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberNumber" class="control-label"></label>
                <input asp-for="MemberNumber" class="form-control" />
                <span asp-validation-for="MemberNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeMemberNumber" class="control-label"></label>
                <input asp-for="LifeMemberNumber" class="form-control" />
                <span asp-validation-for="LifeMemberNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberStartDate" class="control-label"></label>
                <input asp-for="MemberStartDate" class="form-control" />
                <span asp-validation-for="MemberStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberExpireDate" class="control-label"></label>
                <input asp-for="MemberExpireDate" class="form-control" />
                <span asp-validation-for="MemberExpireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LifeMemberDate" class="control-label"></label>
                <input asp-for="LifeMemberDate" class="form-control" />
                <span asp-validation-for="LifeMemberDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalAddress" class="control-label"></label>
                <input asp-for="PersonalAddress" class="form-control" />
                <span asp-validation-for="PersonalAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalPhone" class="control-label"></label>
                <input asp-for="PersonalPhone" class="form-control" />
                <span asp-validation-for="PersonalPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalEmail" class="control-label"></label>
                <input asp-for="PersonalEmail" class="form-control" />
                <span asp-validation-for="PersonalEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkAddress" class="control-label"></label>
                <input asp-for="WorkAddress" class="form-control" />
                <span asp-validation-for="WorkAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhone" class="control-label"></label>
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkEmail" class="control-label"></label>
                <input asp-for="WorkEmail" class="form-control" />
                <span asp-validation-for="WorkEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultInfo" class="control-label"></label>
                <input asp-for="DefaultInfo" class="form-control" />
                <span asp-validation-for="DefaultInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteDisplay" class="control-label"></label>
                <input asp-for="WebsiteDisplay" class="form-control" />
                <span asp-validation-for="WebsiteDisplay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwoStepKey" class="control-label"></label>
                <input asp-for="TwoStepKey" class="form-control" />
                <span asp-validation-for="TwoStepKey" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Authenticated" /> @Html.DisplayNameFor(model => model.Authenticated)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="HashPwd" class="control-label"></label>
                <input asp-for="HashPwd" class="form-control" />
                <span asp-validation-for="HashPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiedOn" class="control-label"></label>
                <input asp-for="DiedOn" class="form-control" />
                <span asp-validation-for="DiedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @if (isAdmin)
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $('#miMember').addClass('selected');
    });
</script>
