@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div>
        <h2>The Foundation</h2>
        <p>The Marine Corps League was founded by Major General Commandant, John A. Lejeune, in 1923 and chartered by an Act of Congress on August 4, 1937. Its membership of 60,000 is comprised of honorably discharged, active duty and Reserve Marines with 90 days of service or more, and retired Marines. It includes officer, enlisted, male and female members.</p>
        <p>The Marine Corps League is headed by an elected National Commandant, with 14 elected national staff officers who serve as trustees. Day to day operations are under the control of an executive director who supervises the day-to-day performance of the national headquarters staff, located at 8626 Lee Highway in Fairfax, Virginia.</p>
    </div>
    <div>
        <h2>Our Purpose</h2>
        <p>The prime authority of the League is derived from its charter and from its annual national convention held in August in different major U. S. cities throughout the nation. The National Commandant has operational control over the National Headquarters staff and the National Board of Trustees, who in turn coordinate the efforts of 47 department, or State entities, and the activities of over 812 community-based detachments located throughout the United States and overseas.</p>
        <p>The League is classified as a veterans / military service organization and was formed for the purposes of promoting the interests of the U. S. Marine Corps; to provide camaraderie and assistance to Marines, as well as to their widows and orphans; and to preserve the traditions of the U. S. Marine Corps. It is a not-for-profit organization within the provisions of Internal Revenue Service Code 50l (c) (4), with a special group exemption letter which allows for contributions to the Marine Corps League, its Auxiliary and subsidiary units, to be tax deductible by the donor.</p>
    </div>
    <div>
        <h2>Local and National Participation</h2>
        <strong>League members participate in:</strong> <br />
        <ul>
            <li>The Veterans Administration Voluntary Service Program, an assistance program for hospitalized veterans </li>
            <li>A national Service Program, which provides assistance to veterans in a wide area of matters relating to their military service </li>
        </ul>
        <br />
        <b>The League also:</b> <br />
        <ul>
            <li>Awards scholarships</li>
            <li>Sponsors a National Youth Physical Fitness Program</li>
            <li>Provides membership incentives</li>
            <li>Participates in patriotic functions and provides representation to the U. S. Congress in legislative matters affecting the U. S. Marine Corps, national security and veterans benefits through its National Legislative Committee and its National Legislative Officer</li>
            <li>Participates in Toys for Tots and other community based programs</li>
        </ul>
    </div>
    <div>
        <h2>Our Mission Statement</h2>
        <p>The Marine Corps League is an organization of Active Duty and Honorably Discharged Marines. We are the voice of all Marines, and we help our fellow Marine Corps Veterans.</p>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#miAbout').addClass('selected');
    });
</script>
