@model mcl959mvc.Models.EventsModel
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = User.HasClaim("isAdmin", "true");
    var isMember = User.HasClaim("isMember", "true");
    var isRegistered = User.HasClaim("isRegistered", "true");
}

<h2>Are you sure you want to delete this event?</h2>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EventName" class="control-label">Name of Event</label>
                <input asp-for="EventName" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFileName" class="control-label">Image</label>
                @if (!string.IsNullOrEmpty(Model.ImageFileName))
                {
                    <img src="~/images/@Model.ImageFileName"
                         alt="Event Image"
                         style="width:100%; max-width:220px; height:auto; border-radius:8px; border:1px solid #ccc;" />
                }
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" class="control-label">Description</label>
                <textarea asp-for="EventDescription" class="form-control" rows="8" style="width:100%; min-width:100%; min-height:200px;" readonly="readonly"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label">Date and Time</label>
                <input asp-for="EventDate" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="EventCreated" class="control-label">Created</label>
                <input asp-for="EventCreated" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                @if (isAdmin)
                {
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $('#miEvent').addClass('selected');
    });
</script>
