@model mcl959mvc.Models.Event
@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isAdmin = User.HasClaim("isAdmin", "true");
    var isMember = User.HasClaim("isMember", "true");
    var isRegistered = User.HasClaim("isRegistered", "true");
}

<h2>Event Details</h2>
<div>
    <dl class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label asp-for="EventName" class="control-label"></label>
                    <input asp-for="EventName" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="EventDescription" class="control-label"></label>
                    <textarea asp-for="EventDescription" class="form-control" rows="8" style="width:100%; min-width:100%; min-height:200px;" readonly="readonly"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="EventDate" class="control-label"></label>
                    <input asp-for="EventDate" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    @if (isAdmin)
                    {
                        <input type="submit" value="Edit" class="btn btn-danger" formaction="@Url.Action("Edit", "Events", new { id = Model.Id })" />
                    }
                </div>
                <div class="form-group">
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </dl>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    $(document).ready(function () {
        $('#miEvent').addClass('selected');
    });
</script>
