@model IEnumerable<mcl959mvc.Models.Event>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.HasClaim("isAdmin", "true");
}

<h1>Detachment 959 Events</h1>
@if (isAdmin)
{
    <p>
        <a asp-action="Create">Add New Event</a>
    </p>
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th class="col-2" scope="col">Name</th>
                <th class="col-8" scope="col">Description</th>
                <th class="col-2" scope="col">Event Date</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <th class="col-2" scope="row">
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.EventName)</a>
                </th>
                <td class="col-8">
                    @Html.DisplayFor(modelItem => item.EventDescription)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
