@model mcl959mvc.Models.MessagesModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.HasClaim("isAdmin", "true");
}

<h2>Are you sure you want to delete the email record?</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row" width="25%">Name</th>
                    <td width="50%"><input asp-for="Name" class="form-control w-100" readonly="true" /></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><input asp-for="Email" class="form-control w-100" readonly="true" width="50%" /></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Message</th>
                    <td><textarea asp-for="Comments" class="form-control w-100" rows="4" readonly="true"></textarea></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td><input asp-for="Date" class="form-control w-100" readonly="true" /></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @if (isAdmin)
                        {
                            <form method="post">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                            </form>
                        }
                    </td>
                    <td><a asp-action="Index">Back to List</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#miContact').addClass('selected');
    });
</script>
