@model mcl959mvc.Models.MessagesModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdmin = User.HasClaim("isAdmin", "true");
}

<h2>Your message has been sent!</h2>
@if (TempData["EmailSentMessage"] != null)
{
    <div class="alert alert-success">
        @Html.Raw(TempData["EmailSentMessage"])
    </div>
}
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row" width="25%">Name</th>
                    <td width="50%"><input asp-for="Name" class="form-control w-100" readonly="true" /></td>
                    <td width="25%"></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><input asp-for="Email" class="form-control w-100" readonly="true" /></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Message</th>
                    <td><textarea asp-for="Comments" class="form-control w-100" rows="4" readonly="true"></textarea></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Date</th>
                    <td><input asp-for="Date" class="form-control w-100" readonly="true" /></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>
                        @if (isAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                        }
                    </td>
                    <td><a asp-action="Index">Back to List</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#miContact').addClass('selected');
    });
</script>
