@model mcl959mvc.Models.Message
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Message Details [EDIT]</h2>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" width="25%">Name</th>
                        <td width="50%"><input asp-for="Name" class="form-control w-100" /></td>
                        <td width="25%"><span asp-validation-for="Name" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td><input asp-for="Email" class="form-control w-100" /></td>
                        <td><span asp-validation-for="Email" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Message</th>
                        <td><textarea asp-for="Comments" class="form-control w-100" rows="4"></textarea></td>
                        <td><span asp-validation-for="Comments" class="text-danger"></span></td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td><input asp-for="Date" class="form-control w-100" readonly="true" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Save</th>
                        <td>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </td>
                        <td><a asp-page="Index">Back to List</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        $('#miContact').addClass('selected');
    });
</script>
